
body {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
   background-size: cover;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-container {
    background-color: rgba(231, 231, 231, 0.411);
    padding: 4em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(189, 79, 79, 0.418);

}
.login-container h1 {
    text-align: center;
    margin-bottom: 1.9em;
}
.form-group {
    margin-bottom: 0.7em;
}
.form-group label {
  display: block;
    margin-bottom: 0.5em;
}
.form-group input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-group button {
    width: 50%;
    padding: 0.6em;
    background-color: rgb(100, 53, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 60px;
    margin-bottom: -96px;
}
.form-group button:hover {
    background-color: rgb(48, 31, 31);
}
